* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0;
    background-color: #ffffff;
    font-family: Roboto, Arial, sans-serif;

}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.container {
    width: 100%;
    /*padding: 50px 140px;*/
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
    padding-top: 50px;
}

header {
    background-color: #eeeeee;
}

.nav_menu {
    height: 65px;
}

.logo {
    float: left;
    background-image: url(../img/logo.png);
    background-position: -162px 0;
    width: 160px;
    height: 65px;
}

.logo:hover {
    background-position: 0 -67px;
}

.logo:active {
    background-position: 0 0;
}

nav {
    float: left;
    padding-left: 200px;
}

nav ul li {
    display: inline-block;
    padding-right: 48px;
}

nav ul li:last-child {
    padding: 0;
}

nav ul li:hover a {
    color: #fb565a;
}

nav ul li:active a {
    color: #bdbdbd;
}

nav ul li a {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    line-height: 65px;
    padding-bottom: 10px;
}

.active {
    border-bottom: solid 2px #fb565a;
}

.cart {
    float: right;
    width: 115px;
    height: 65px;
    background-image: url("../img/cart.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 41px;
    cursor: pointer;
    padding-bottom: 10px;
}

.cart:hover a {
    color: #fb565a;
}

.cart:active a {
    color: #bdbdbd;
}

.cart a {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    line-height: 65px;
}

.slider {
    position: relative;
    height: 431px;
}

.slide img {
    position: absolute;
    top: 0;
    right: 5px;

}

.slider > input {
    display: none;
}

.slider > input + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: #fff;
    cursor: pointer;
    z-index: 100;
    position: relative;
    margin-right: 17px;
    margin-top: 310px;
    left: 47%;
}

.slider > label:hover {
    background: rgba(250, 250, 250, 0.8);
}

.slider > input:checked + label {
    background: rgba(220, 220, 220, 0.8);
}

.slide {
    width: 1160px;;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.slider > input:checked + label + .slide {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.slide_wrap {
    width: 520px;
    position: absolute;
    top: 80px;
    left: 0;
}

.slider .slide h1 {
    color: #000;
    font-size: 55px;
    font-weight: 500;
    padding-bottom: 30px;
}

.slider .slide p {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 45px;
}

.slider .slide a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 50px;
    background-color: #fb565a;
    border-radius: 2px;
}

.advantages {
    padding-top: 30px;
    padding-bottom: 80px;
    border-bottom: 2px solid #eeeeee;
}

.adv {
    float: left;
    width: 300px;
    margin-right: 100px;
}

.adv:last-child {
    margin: 0;
}

.adv img {
    padding-bottom: 25px;
}

.adv h2 {
    font-weight: bold;
    font-size: 24px;
    color: black;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.adv p {
    font-weight: 400;
    font-size: 16px;
    color: #797c7f;
    padding-bottom: 40px;
}

.adv .btn {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 40px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.adv .btn--red {
    background-color: #fb565a;
}

.adv .btn--red:hover {
    background-color: #e74246;
}

.adv .btn--red:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px #c13135;
    color: #e38384;
}

.adv .btn--green {
    background-color: #00ca74;
}

.adv .btn--green:hover {
    background-color: #00bc6c;
}

.adv .btn--green:active {
    background-color: #00aa62;
    box-shadow: inset 0 3px #009958;
    color: #6fc498;
}

.adv .btn--yellow {
    background-color: #efc84a;
}

.adv .btn--yellow:hover {
    background-color: #eab534;
}

.adv .btn--yellow:active {
    background-color: #eab534;
    box-shadow: inset 0 3px #ce961f;
    color: #edc47f;
}

.studio {
    padding-bottom: 80px;
}

.studio_post {
    width: 651px;
    float: left;
    padding-top: 67px;
}

.studio_post h2 {
    font-weight: 500;
    font-size: 45px;
    color: black;
    padding-bottom: 25px;
}

.studio_post p {
    font-weight: 400;
    font-size: 16px;
    color: #283136;
    padding-bottom: 50px;
}


.studio_post h3 {
    font-weight: bold;
    font-size: 16px;
    color: black;
    padding-bottom: 27px;
    text-transform: uppercase;
}

.studio_post ul li {
    font-weight: 400;
    font-size: 16px;
    color: #283136;
    padding-bottom: 25px;
}

.studio_post ul li:last-child {
    padding: 0;
}

.studio_post ul li:before {
    content: "";
    background-image: url("../img/dash.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    padding-right: 36px;
}

.studio_about {
    float: right;
    padding-top: 41px;
    padding-bottom: 77px;
}

.studio_about img {
    padding-bottom: 40px;
}

.studio_about h3 {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.procent {
    width: 95px;
    margin-right: 27px;
    display: inline-block;
}

.procent:last-child {
    padding: 0;
}

.procent h4 {
    font-weight: bold;
    font-size: 45px;
    padding-bottom: 15px;
}

.procent p {
    font-weight: 400;
    font-size: 16px;
}

.studio_logotypes {
    padding: 45px 0;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;

}

.logotypes {
    display: inline-block;
    margin-right: 55px;
    margin-left: 55px;
    float: left;
    cursor: pointer;
}

.logotypes:first-child {
    margin-left: 0;
}

.logotypes:last-child {
    margin-right: 0;
}

.logotypes--acad {
    background-image: url(../img/sprite_logos.png);
    background-position: -199px -450px;
    width: 199px;
    height: 68px;
}

.logotypes--acad:hover {
    background-image: url(../img/sprite_logos.png);
    background-position: -292px -62px;
    width: 199px;
    height: 68px;
}

.logotypes--acad:active {
    background-image: url(../img/sprite_logos.png);
    background-position: 0 -450px;
    width: 199px;
    height: 68px;
}

.logotypes--borod {
    background-image: url(../img/sprite_logos.png);
    background-position: 0 -360px;
    width: 209px;
    height: 90px;
}

.logotypes--borod:hover {
    background-image: url(../img/sprite_logos.png);
    background-position: -29px -226px;
    width: 209px;
    height: 90px;
}

.logotypes--borod:active {
    background-image: url(../img/sprite_logos.png);
    background-position: -209px -360px;
    width: 209px;
    height: 90px;
}

.logotypes--pink {
    background-image: url(../img/sprite_logos.png);
    background-position: 0 -518px;
    width: 185px;
    height: 52px;
}

.logotypes--pink:hover {
    background-image: url(../img/sprite_logos.png);
    background-position: -37px -65px;
    width: 185px;
    height: 52px;
}

.logotypes--pink:active {
    background-image: url(../img/sprite_logos.png);
    background-position: -398px -450px;
    width: 185px;
    height: 52px;
}

.logotypes--mishka {
    background-image: url(../img/sprite_logos.png);
    background-position: -520px 0;
    width: 173px;
    height: 84px;
}

.logotypes--mishka:hover {
    background-image: url(../img/sprite_logos.png);
    background-position: -303px -232px;
    width: 173px;
    height: 84px;
}

.logotypes--mishka:active {
    background-image: url(../img/sprite_logos.png);
    background-position: -520px -84px;
    width: 173px;
    height: 84px;
}



