/*reset.css* begin*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*reset.css end*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    /*outline: 1px solid red;*/
}

body {
    font-size: 0;
    background-color: #ffffff;
    font-family: Roboto, Arial, sans-serif;

}


.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    outline: none;
}

.container {
    width: 100%;
    /*padding: 50px 140px;*/
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
    padding-top: 50px;
}

header {
    background-color: #eeeeee;
}

/*.nav_menu {
    height: 65px;
}*/

.logo {
    float: left;
    width: 162px;
    height: 65px;
}

.logo img {
    height: 65px;
}

.logo:hover img {
    opacity: .8;
}

.logo:active img {
    opacity: .3;
}

nav {
    float: left;
    padding-left: 200px;
}

nav ul li {
    display: inline-block;
    padding-right: 48px;
}

nav ul li:last-child {
    padding: 0;
}

nav ul li:hover a {
    color: #fb565a;
}

nav ul li:active a {
    color: #bdbdbd;
}

nav ul li a {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    line-height: 65px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.active {
    border-bottom: solid 2px #fb565a;
}

.cart {
    float: right;
    width: 115px;
    height: 65px;
    background-image: url("../img/cart.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 41px;
    cursor: pointer;
    padding-bottom: 10px;
}

.cart:hover a {
    color: #fb565a;
}

.cart:active a {
    color: #bdbdbd;
}

.cart a {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    line-height: 65px;
    text-transform: uppercase;
}

/*slider begin*/

.slider {
    position: relative;
    width: 100%;
    height: 431px;
    overflow: hidden;
}

.slide_wrap {
    width: 100%;
    height: 431px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 431px;
    top: 0;
    -webkit-transition: left 0.5s ease-in-out;;
        -moz-transition: left 0.5s ease-in-out;
            transition: left 0.5s ease-in-out;
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slide_title {
    width: 520px;
    padding-top: 65px;
}

.slider .slide h1 {
    color: #000;
    font-size: 55px;
    font-weight: 500;
    padding-bottom: 30px;
}

.slider .slide p {
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 68px;
}

.slider .slide a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 55px;
    background-color: #fb565a;
    border-radius: 2px;
    text-transform: uppercase;
}

.slider .slide a:hover{
    background-color: #e74246;
}

.slider .slide a:active {
    background-color: #d7373b;
    -webkit-box-shadow: inset 0 3px #c13135;
        -moz-box-shadow: inset 0 3px #c13135;
            box-shadow: inset 0 3px #c13135;
    color: #e38384;
}

.slide:nth-child(1) {
    background-image: url("../img/slider_image1.png");
    left: 0;

}

.slide:nth-child(2) {
    background-image: url("../img/slider_image2.png");
    left: 100%;
}

.slide:nth-child(3) {
    background-image: url("../img/slider_image3.png");
    left: 200%;
}

.controls {
    position: absolute;
    top: 300px;
    left: 46%;
}

.slider input {
    display: none;
}

.controls label {
    position: relative;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
    -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin-right: 18px;
    z-index: 10;
}

.controls label:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    height: 4px;
    width: 4px;
}

#inp1:checked ~ .controls label[for="inp1"]:before {
    -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid grey;
}

#inp2:checked ~ .controls label[for="inp2"]:before {
    -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
             border-radius: 50%;
  border: 2px solid grey;
}

#inp3:checked ~ .controls label[for="inp3"]:before {
    -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid grey;
}

#inp1:checked ~ .slide_wrap .slide:nth-child(1) {
    left: 0;
}

#inp2:checked ~ .slide_wrap .slide:nth-child(1) {
    left: -100%;
}

#inp2:checked ~ .slide_wrap .slide:nth-child(3) {
    left: 100%;
}

#inp2:checked ~ .slide_wrap .slide:nth-child(2) {
    left: 0;
}

#inp3:checked ~ .slide_wrap .slide:nth-child(3) {
    left: 0;
}

#inp3:checked ~ .slide_wrap .slide:nth-child(1) {
    left: -200%;
}

#inp3:checked ~ .slide_wrap .slide:nth-child(2) {
    left: -100%;
}

/*slider end*/

.advantages {
    padding-top: 30px;
    padding-bottom: 80px;
    border-bottom: 2px solid #eeeeee;
}

.adv {
    float: left;
    width: 300px;
    margin-right: 100px;
}

.adv:last-child {
    margin: 0;
}

.adv img {
    padding-bottom: 25px;
}

.adv h2 {
    font-weight: bold;
    font-size: 24px;
    color: black;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.adv p {
    font-weight: 400;
    font-size: 16px;
    color: #797c7f;
    padding-bottom: 40px;
}

.adv .btn {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 43px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

.adv .btn--red {
    background-color: #fb565a;
}

.adv .btn--red:hover {
    background-color: #e74246;
}

.adv .btn--red:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px #c13135;
    color: #e38384;
}

.adv .btn--green {
    background-color: #00ca74;
}

.adv .btn--green:hover {
    background-color: #00bc6c;
}

.adv .btn--green:active {
    background-color: #00aa62;
    box-shadow: inset 0 3px #009958;
    color: #6fc498;
}

.adv .btn--yellow {
    background-color: #efc84a;
}

.adv .btn--yellow:hover {
    background-color: #eab534;
}

.adv .btn--yellow:active {
    background-color: #eab534;
    box-shadow: inset 0 3px #ce961f;
    color: #edc47f;
}

.studio {
    padding-bottom: 80px;
}

.studio_post {
    width: 651px;
    float: left;
    padding-top: 73px;
}

.studio_post h2 {
    font-weight: 500;
    font-size: 45px;
    color: black;
    padding-bottom: 37px;
}

.studio_post p {
    font-weight: 400;
    font-size: 16px;
    color: #283136;
    padding-bottom: 55px;
}


.studio_post h3 {
    font-weight: bold;
    font-size: 16px;
    color: black;
    padding-bottom: 32px;
    text-transform: uppercase;
}

.studio_post ul li {
    font-weight: 400;
    font-size: 16px;
    color: #283136;
    padding-bottom: 32px;
}

.studio_post ul li:last-child {
    padding: 0;
}

.studio_post ul li:before {
    content: "";
    background-image: url("../img/dash.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    padding-right: 36px;
}

.studio_about {
    float: right;
    padding-top: 41px;
    padding-bottom: 85px;
}

.studio_about img {
    padding-bottom: 38px;
    padding-left: 36px;
}

.studio_about h3 {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 40px;
    padding-left: 53px;
}

.procent {
    width: 105px;
    margin-right: 16px;
    display: inline-block;
    padding-left: 35px;
}

.procent:last-child {
    margin: 0;
}

.procent h4 {
    font-weight: bold;
    font-size: 45px;
    padding-bottom: 15px;
}

.procent p {
    font-weight: 400;
    font-size: 16px;
}

.studio_logotypes {
    padding: 45px 0;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}
.studio_logotypes_wrap {
    width: 1096px;
    margin: 0 auto;
}

.logotypes {
    display: inline-block;
    margin-right: 38px;
    margin-left: 55px;
    float: left;
    cursor: pointer;
    position: relative;
    vertical-align: top;
}


.logotypes:first-child {
    margin-left: 0;
}

.logotypes:last-child {
    margin-right: 0;
}


.logotypes:after {
    content: "";
    top: 8px;
    left: 253px;
    height: 52px;
    width: 2px;
    background-color: #eeeeee;
    position: absolute;
}

.logotypes:last-child:after {
    display: none;
}

.logotypes--acad {
    background-image: url(../img/sprite_logos.png);
    background-position: -199px -450px;
    width: 199px;
    height: 68px;
    margin-left: 0;
}

.logotypes--acad:hover {
    background-image: url(../img/sprite_logos.png);
    background-position: -292px -62px;
    width: 199px;
    height: 68px;
}

.logotypes--acad:active {
    background-image: url(../img/sprite_logos.png);
    background-position: 0 -450px;
    width: 199px;
    height: 68px;
}

.logotypes--borod {
    background-image: url(../img/sprite_logos.png);
    background-position: 0 -360px;
    width: 209px;
    height: 90px;
}

.logotypes--borod:hover {
    background-image: url(../img/sprite_logos.png);
    background-position: -29px -226px;
    width: 209px;
    height: 90px;
}

.logotypes--borod:active {
    background-image: url(../img/sprite_logos.png);
    background-position: -209px -360px;
    width: 209px;
    height: 90px;
}

.logotypes--pink {
    background-image: url(../img/sprite_logos.png);
    background-position: 0 -518px;
    width: 185px;
    height: 52px;
}

.logotypes--pink:hover {
    background-image: url(../img/sprite_logos.png);
    background-position: -37px -65px;
    width: 185px;
    height: 52px;
}

.logotypes--pink:active {
    background-image: url(../img/sprite_logos.png);
    background-position: -398px -450px;
    width: 185px;
    height: 52px;
}

.logotypes--mishka {
    background-image: url(../img/sprite_logos.png);
    background-position: -520px 0;
    width: 173px;
    height: 84px;
}

.logotypes--mishka:hover {
    background-image: url(../img/sprite_logos.png);
    background-position: -303px -232px;
    width: 173px;
    height: 84px;
}

.logotypes--mishka:active {
    background-image: url(../img/sprite_logos.png);
    background-position: -520px -84px;
    width: 173px;
    height: 84px;
}

.contacts {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-image: url("../img/map.jpg");
}

.map {
    width: 100%;
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.coords {
    width: 317px;
    height: 308px;
    right: 50%;
    top: 40px;
    background-color: #fff;
    padding: 52px;
    position: absolute;
    z-index: 7;
    margin-right: 261px;
}

.coords h2 {
    font-weight:bold;
    font-size: 18px;
    color: #000;
    padding-bottom: 34px;
}

.coords address {
    font-weight: 400;
    font-size: 16px;
    color: #989898;
    padding-bottom: 22px;
    font-style: normal;
}

.coords address.tel {
    padding-bottom: 38px;
}

.write {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 14px 0;
    background-color: #fb565a;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    outline: none;
    border: none;
    text-transform: uppercase;
    width: 218px;
}

.write:hover {
    background-color: #e74246;
}

.write:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px #c13135;
    color: #e38384;
}

footer {
    padding-bottom: 50px;
}

.social {
    float: left;
    padding-right: 140px;
    padding-top: 30px;
}

.soc {
    font-size: 14px;
    color: #fff;
    width: 79px;
    height: 79px;
    background-color: #e1e1e1;
    border-radius: 39.5px;
    -moz-border-radius: 39.5px;
    -webkit-border-radius: 39.5px;
    display: inline-block;
    text-align: center;
    margin-right: 12px;
    cursor: pointer;
}

.soc:last-child {
    margin-right: 0;
}

.soc i {
    line-height: 79px;
}

.soc:hover {
    background-color: #e74246;
}

.soc:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px #c13135;
    color: #e38384;
}

.footer_post {
    float: left;
    padding-top: 37px;
}

.footer_post h2 {
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 8px;
}

.footer_post p {
    font-weight: 400;
    font-size: 16px;
}

.write_us {
    width: 960px;
    height: 592px;
    position: absolute;
    padding: 85px 100px;
    top: -135px;
    left: 200px;
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0,1,1,.75);
    display: none;
    z-index: 10;
}

.open_modal {
    display: block;
}

.write_us h2 {
    font-weight: 500;
    font-size: 45px;
    padding-bottom: 35px;
    float: left;
}

.write_us span {
    width: 21px;
    height: 21px;
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: .3;
    float: right;
    cursor: pointer;
}

.write_us span:hover {
    opacity: 1;
}

.write_us span:active {
    opacity: .1;
}

.write_us label {
    font-weight: bold;
    font-size: 16px;
}

.form-groupe {
    float: left;
    width: 360px;
    padding-bottom: 35px;
}

.form-groupe--name {
    margin-right: 40px;
}

.form-groupe--message {
    float: none;
}

.form-groupe input {
    width: 360px;
    height: 50px;
    padding-left: 15px;
    border-radius: 3px;
    border-color: #d7dcde;
    border-width: 2px;
    border-style: solid;
    color: #b1b1b1;
    font-size:16px;
    font-weight: 400;
    outline: none;

}

.form-groupe--message input {
    height: 120px;
    width: 760px;
    float: none;
}

.send {
    border: none;
    background-color: #fb565a;
    padding: 20px 82px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
}

.send:hover {
    background-color: #e74246;
}

.send:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px #c13135;
    color: #e38384;
}

.form-groupe input:hover {
    border-color: #b4b9bb;
    color: #b1b1b1;
}

.form-groupe input:focus {
    border-color: #000;
    color: #000;
}

.marker {
    background-color: #00aa62;
}

